p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.2em;
}

h1 {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 2em;
}

p.important {
	font-size: 1.5em;
	font-weight: 900;
}

.typewriter {
	font-family:'Courier New', Courier, monospace;
}

.emphasized {
	font-style: italic;
}

.standout {
	color: #cc0000;
}

p.more-readable {
	letter-spacing: .1em;
	word-spacing: 1em;
	line-height: 2em;
}

h3 {
	text-align: center;
}

p.pretty {
	text-align: justify;
}

p.indented {
	text-indent: 1em;
}

blockquote {
	font-size: .9em;
	color: darkslategray;
}

p.offset {
	margin: 4em;
}

.boxed {
	border: 5px solid blueviolet;
	padding: .9em;
}
